:root {
  --color-light: #f4f4f4;
  /* --color-dark: #333; */
  --color-dark: #000;
  /* --color-primary: #988345; */
  --color-primary: #fff; 
  --bg-dark: #1c1d25;
  --bp-jumbo: 120em; 
  --bp-largest: 75em; 
  --bp-large: 68.75em; 
  --bp-medium: 56.25em; 
  --bp-small: 37.5em; 
  --bp-smallest: 31.25em; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.textGradient {
  background-image: linear-gradient(-45deg,#1e34f7,#1ef792,#f71eec,#f7df1e);
  background-clip: text;
  color: transparent;
}  
  

::selection {
  color: var(--color-light);
  background:var(--color-primary); 
}

html {
  font-family: "Roboto", sans-serif; 
  font-size: 62.5%; 
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; 
  } 
}






