
.contact {
  background-color: #000;
  position: relative; 
  padding-bottom: 30rem;
}

.content {
  align-items: center; 
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40vw;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.mail {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 5rem;
  text-align: center;
  color: rgba(255,255,255,0.7);
}

@media only screen and (max-width: 68.75em) {

  .content {
    width: 90vw; 
  } 

  .mail {
    font-size: 1.5rem;
  }

  .contact {
    padding-bottom: 15rem;
  }
}

